body{
    background-image: url(127447954.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  background-attachment: fixed
}


form{
    margin-left:800px;
    display:flex;
    margin: auto;
    justify-content: center;
    
}

.formlabel1{
   padding: 30px;
   border:1px solid transparent;
   background-color: #ffffff80;
   border-radius: 5px;
   width: 300px;
   box-shadow: 3px 4px 5px #00000060;
   margin-top:100px;
}

.btn-primary{
    margin-top:10px;
    margin-left: -4%;
}

.botao{
  text-decoration: none;
  background-color: #ffffff80;
  border: transparent;
  border-color: BLACK;
  color: BLACK;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

.botao:hover{
  background-color: BLACK;
  color: #fff;
}

  .justify-center{
    display: flex;
    justify-content: center;
  }


.form-grup{
      position:relative;
    }

    .form-grup label{
      position:absolute;
      left:5px;
      opacity:0.5;
      pointer-events: none;
      transition: 0.5s;
   }

   .form-grup input:focus + label,
   .form-grup input:hover + label,
   .form-grup input:valid + label
   {
      font-size: small;
      transform: translateY(-20px);
      opacity:1;
    }
    input{
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid black;
      background-color: transparent;
      outline: none;
      width: 100%;
      padding: 5px 5px;
      }
  
      input:focus{
      background-color: transparent;
      box-shadow: 0 0 0 0;
      border-top:none; 
      border-left:none;
      border-right:none;
      outline: 0;
      }